@import url(./global.css);

header {
    height: 505px;
    padding: 0px 24px;
    background-image: url(/assets/images/header-background.svg);
    background-size: cover;


    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 580px) {
    header {
        background-image: url(/assets/images/header-background02.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        height: 459px;
    } 
}

header h1 {
    font-family: "Luckiest Guy";
    font-weight: 400;
    font-size: calc(2rem + 3vw);
    color: white;

    padding-top: 65px;
    width: 278px;
}

@media screen and (min-width: 580px) {
    header h1 {
        margin: 0px auto;
        text-align: center;
        font-size: 3.5rem;
        font-size: 2;
        width: 313px;
    }
}

header p, .button {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;
}

@media screen and (min-width: 580px) {
    header p {
        max-width: 757px;
        text-align: center;
        margin: 0 auto;
    }
}

.button {
    border-radius: 28px;
    background-color: black;
    height: 54px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#download {
    background-color: white;
    color: rgba(35, 39, 42, 1);
}

#open {
    background-color: rgba(35, 39, 42, 1);
    color: white;
}


@media screen and (min-width: 580px) {
    #button-box {
        flex-direction: row;
        justify-content: center;
    }

    #download {
        width: 205px;
    }

    #open {
        width: 281px;
    }
}

main h1 {
    font-family: "Luckiest Guy";
    font-weight: 400;
    font-size: 2rem;
    color: rgba(35, 39, 42, 1);
    max-width: 376px;
}

main h2 {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 1.5rem;
    color: rgba(35, 39, 42, 1);
}

main p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1rem;
    color: rgba(35, 39, 42, 1);
}

#section-02, #section-04 {
    background-color: rgba(246, 246, 246, 1);
    background-origin:initial;
}

#section-01, #section-02, #section-03, #section-04 {
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

#sec-01-info, #sec-02-info, #sec-03-info, #sec-04-info {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

main picture {
    display: flex;
    justify-content: center;
}

#section-01 img, #section-02 img, #section-03 img, #section-04 img {
    max-width: 379px;
}

@media screen and (min-width: 580px) {
    main h1 {
        margin: 0 auto;
        font-size: 2.5rem;
        max-width: 608px;
        text-align: center;
    }

    main h2 {
        font-size: 2.5rem;
    }

    #section-01, #section-02, #section-03 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    #sec-01-info, #sec-02-info, #sec-03-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 351px;
        align-content: center;
    }

    #section-04 {
        gap: 16px;
    }

    #section-04 p {
        max-width: 802px;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 620px) {
    #section-01 img, #section-02 img, #section-03 img, #section-04 img  {
        max-width: 607px;
    }
}

@media screen and (min-width: 1282px) {
    #section-02 {
        flex-direction: row-reverse;
    }
}

footer {
    height: 140px;
    background-color: rgba(35, 39, 42, 1);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer picture {
    height: 45px;
}

@media screen and (min-width: 580px) {
    footer img {
        width: 230px;
    }
}